<% content_for :head do %>
  <%= stylesheet_link_tag  "spot", "style"%>
  <%= javascript_include_tag "spot" %>
<% end %>

<div class="wrapper">
	<div class="map"></div>
	<div class="point red tamsui">
		<div class="info">
			<h3>Click for Views</h3>
		</div>
	</div>
	
	<div class="point black minquan">
		<div class="info">
			<h3>Click for Views</h3>
		</div>
	</div>

	<div class="point green gongguan">
		<div class="info">
			<h3>Click for Views</h3>
		</div>
	</div>
</div>
