<!DOCTYPE html>
<html>
	<head>
		<title>Picture Display Test</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
        <script type="text/javascript" src="spot.js"></script>
        <!--YUI CSSReset-->
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.6.0/build/cssreset/cssreset-min.css">
        <link rel="stylesheet" href="spot.css" type="text/css" media="screen"/>
	</head>
	<body>
		<div class="content">
			<div class="point">
				<div class="info">
					<h3>Click for Views</h3>
				</div>
			</div>
		</div>
	</body>
</html>