<% content_for :head do %>
  <%= stylesheet_link_tag  "bootstrap.min", "bootstrap-responsive.min"%>
  <%= javascript_include_tag "bootstrap.min" %>
<% end %>

<h1>Test#spot</h1>
<% @spots.each do |spot|%>
	<p><%= spot['name'] %></p>
<% end %>
